@import "tailwindcss";

@theme {
  --font-jakarta: 'Plus Jakarta Sans', sans-serif;

  --color-primary:    #7c3aed;
  --color-primary-hover: #6d28d9;
  --color-primary-light: #ede9fe;
}

body {
  font-family: var(--font-jakarta);
  -webkit-font-smoothing: antialiased;
}